@model companyOrganisationC.Models.CompanyInfo

@{
    ViewBag.Title = "Contact";
}
<br />
<br />
@if (ViewBag.CompanyInfo == null && User.IsInRole("Admin"))
{
    @Html.ActionLink("Add company info", "AddCompany", null, new { @class = "btn btn-success" })
}
else if (ViewBag.CompanyInfo == null && Request.IsAuthenticated)
{
    <h4>Contact your administrator regarding the company contact information!</h4>
}
<div class="row">
    <div class="col-md-5">
        @if (ViewBag.CompanyInfo != null)
        {
            <div class="row">
                <img src="../@ViewBag.CompanyInfo.CmpLogo" alt="Alternate Text" class="col-md-2" />
                <div class="col-md-12">
                    <h4>Company Info</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CmpName)
                        </dt>

                        <dd>
                            @ViewBag.CompanyInfo.CmpName
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CmpDesc)
                        </dt>

                        <dd>
                            @ViewBag.CompanyInfo.CmpDesc
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CmpAddress)
                        </dt>

                        <dd>
                            @ViewBag.CompanyInfo.CmpAddress
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CmpPhone)
                        </dt>

                        <dd>
                            @ViewBag.CompanyInfo.CmpPhone
                        </dd>

                    </dl>
                    @if (User.IsInRole("Admin"))
                {
                    if (ViewBag.CompanyInfo != null)
                    {
                            @Html.ActionLink("Edit", "EditCmp", new { id = ViewBag.CompanyInfo.CmpId }, new { @class = "btn btn-warning btn-md col-md-3 pull-right" })
                        }

                    }


                </div>

            </div>
        }
    </div>

    <div class="col-md-6 col-md-offset-1">
        @if (Request.IsAuthenticated)
        {
            <div class="col-md-12">

                <h2>Chat</h2>
                <div class="col-md-6">
                    <p>
                        <input type="hidden" id="username1" value="@ViewBag.first_name" />
                    </p>
                    <p>
                        <input type="hidden" id="username2" value="@ViewBag.last_name" />
                    </p>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="message">Message: </label>
                            <input type="text" id="message" class="form-control" />
                        </div>
                    </form>
                    <br />
                    <input type="button" id="send" value="send" class="btn btn-info" />

                    <ul style="list-style: none;" id="messageBox" class="col-md-12"></ul>
                </div>
            </div>
        }
    </div>
</div>

<br />

<p>
    @Html.ActionLink("Back to List", "SkillList")
</p>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        var chatHub = $.connection.chatHub;
        chatHub.client.showMessage = function (timeStamp, username, message) {
            $("#messageBox").append("<li padding:5px'> <span style='color:#888'>At " + timeStamp + "</span> <span style='color:green; font-weight:bold'>" + username + "</span> said: " + message + "</li>");
        };

        $.connection.hub.start().done(function () {

            var dt = new Date();
            var timeStamp = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();

            $("#send").click(function () {
                chatHub.server.sendMessage(timeStamp, $("#username1").val() + " " + $("#username2").val(), $("#message").val());
                $("#message").val("");
            });
        });
    </script>
}
